openapi: 3.1.0
info:
  title: ZAISHIELD VAULTSCAN API
  version: 1.0.0
  description: Auto-generated baseline. Operation summaries + response schemas SHOULD be deepened by hand.
servers:
  - url: "https://api.vaultscan.zaishield.com"
  - url: "http://localhost:8080"
paths:
  /api/v1/auth/mfa:
    delete:
      summary: DELETE /api/v1/auth/mfa
      operationId: deleteApiV1AuthMfa
      tags:
        - auth
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/cosign/keys/{key_id}:
    delete:
      summary: "DELETE /api/v1/cosign/keys/{key_id}"
      operationId: deleteApiV1CosignKeysKeyId
      tags:
        - cosign
      parameters:
        - name: key_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/marketplace/installs/{install_id}:
    delete:
      summary: Uninstall (soft-suspend) a marketplace install.
      operationId: deleteApiV1MarketplaceInstallsInstallId
      tags:
        - marketplace
      parameters:
        - name: install_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    patch:
      summary: Configure a pending marketplace install.
      operationId: patchApiV1MarketplaceInstallsInstallId
      tags:
        - marketplace
      parameters:
        - name: install_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/mobile/devices/{device_id}:
    delete:
      summary: Revoke a mobile device.
      operationId: deleteApiV1MobileDevicesDeviceId
      tags:
        - mobile
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/report-templates/{report_type}:
    delete:
      summary: "DELETE /api/v1/partners/{partner_id}/report-templates/{report_type}"
      operationId: deleteApiV1PartnersPartnerIdReporttemplatesReportType
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
        - name: report_type
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    put:
      summary: "PUT /api/v1/partners/{partner_id}/report-templates/{report_type}"
      operationId: putApiV1PartnersPartnerIdReporttemplatesReportType
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
        - name: report_type
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/platform/impersonate/{session_id}:
    delete:
      summary: End an open impersonation session.
      operationId: deleteApiV1PlatformImpersonateSessionId
      tags:
        - platform-ops
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/platform/tenants/{tenant_id}/quarantine:
    delete:
      summary: "Cancel a tenant's quarantine and restore access."
      operationId: deleteApiV1PlatformTenantsTenantIdQuarantine
      tags:
        - platform-ops
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: Mark a tenant for hard-delete after the 7-day quarantine window.
      operationId: postApiV1PlatformTenantsTenantIdQuarantine
      tags:
        - platform-ops
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/tenants/{tenant_id}/branding:
    delete:
      summary: "DELETE /api/v1/tenants/{tenant_id}/branding"
      operationId: deleteApiV1TenantsTenantIdBranding
      tags:
        - tenants
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    get:
      summary: "GET /api/v1/tenants/{tenant_id}/branding"
      operationId: getApiV1TenantsTenantIdBranding
      tags:
        - tenants
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    put:
      summary: "PUT /api/v1/tenants/{tenant_id}/branding"
      operationId: putApiV1TenantsTenantIdBranding
      tags:
        - tenants
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/tenants/{tenant_id}/scim/tokens/{token_id}:
    delete:
      summary: Revoke a SCIM provisioning token.
      operationId: deleteApiV1TenantsTenantIdScimTokensTokenId
      tags:
        - tenants
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
        - name: token_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/users/{user_id}/roles/{role_code}:
    delete:
      summary: "DELETE /api/v1/users/{user_id}/roles/{role_code}"
      operationId: deleteApiV1UsersUserIdRolesRoleCode
      tags:
        - users
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
        - name: role_code
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /.well-known/jwks.json:
    get:
      summary: GET /.well-known/jwks.json
      operationId: getWellknownJwksJson
      tags:
        - 
      responses:
        200:
          description: Success
          content:
            application/jwk-set+json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /.well-known/security.txt:
    get:
      summary: GET /.well-known/security.txt
      operationId: getWellknownSecurityTxt
      tags:
        - 
      responses:
        200:
          description: Success
          content:
            text/plain:
              schema:
                type: string
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/.well-known/jwks.json:
    get:
      summary: JSON Web Key Set for JWT verification.
      operationId: getApiV1WellknownJwksJson
      tags:
        - internal
      responses:
        200:
          description: Success
          content:
            application/jwk-set+json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents:
    get:
      summary: GET /api/v1/agents
      operationId: getApiV1Agents
      tags:
        - agents
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: POST /api/v1/agents
      operationId: postApiV1Agents
      tags:
        - agents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                partner_id:
                  type: string
                  format: uuid
                tenant_id:
                  type: string
                  format: uuid
                label:
                  type: string
                  minLength: 1
                region:
                  type: string
              required:
                - partner_id
                - tenant_id
                - label
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  enrollment_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                required:
                  - id
                  - enrollment_token
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents/{agent_id}:
    get:
      summary: "GET /api/v1/agents/{agent_id}"
      operationId: getApiV1AgentsAgentId
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  label:
                    type: string
                  status:
                    type: string
                    enum:
                      - pending_enrollment
                      - active
                      - stale
                      - revoked
                      - rotating
                  region:
                    type: string
                  last_seen_at:
                    type: string
                    format: date-time
                    nullable: true
                required:
                  - id
                  - status
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents/{agent_id}/emergency-stop-sla:
    get:
      summary: Time-to-emergency-stop SLA for an agent.
      operationId: getApiV1AgentsAgentIdEmergencystopsla
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents/{agent_id}/policy:
    get:
      summary: "GET /api/v1/agents/{agent_id}/policy"
      operationId: getApiV1AgentsAgentIdPolicy
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    put:
      summary: "PUT /api/v1/agents/{agent_id}/policy"
      operationId: putApiV1AgentsAgentIdPolicy
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents/{agent_id}/telemetry:
    get:
      summary: Heartbeat + resource telemetry timeline.
      operationId: getApiV1AgentsAgentIdTelemetry
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents/{agent_id}/update-offer:
    get:
      summary: Available agent-binary update (signed offer).
      operationId: getApiV1AgentsAgentIdUpdateoffer
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/assets:
    get:
      summary: GET /api/v1/assets
      operationId: getApiV1Assets
      tags:
        - assets
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: POST /api/v1/assets
      operationId: postApiV1Assets
      tags:
        - assets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                partner_id:
                  type: string
                  format: uuid
                tenant_id:
                  type: string
                  format: uuid
                engagement_id:
                  type: string
                  format: uuid
                asset_type:
                  type: string
                  enum:
                    - host
                    - url
                    - ip_range
                    - domain
                    - cloud_account
                    - api_endpoint
                    - container_image
                    - code_repository
                name:
                  type: string
                value:
                  type: string
                plane:
                  type: string
                  enum:
                    - external
                    - internal
                criticality:
                  type: string
                  enum:
                    - critical
                    - high
                    - medium
                    - low
                owner:
                  type: string
                environment:
                  type: string
                cloud_provider:
                  type: string
                  enum:
                    - aws
                    - gcp
                    - azure
                    - other
                    - 
                tags:
                  type: array
                  items:
                    type: string
              required:
                - partner_id
                - tenant_id
                - asset_type
                - value
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  asset_type:
                    type: string
                  value:
                    type: string
                  created_at:
                    type: string
                    format: date-time
                required:
                  - id
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/assets/{asset_id}/risk-score:
    get:
      summary: "GET /api/v1/assets/{asset_id}/risk-score"
      operationId: getApiV1AssetsAssetIdRiskscore
      tags:
        - assets
      parameters:
        - name: asset_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/audit:
    get:
      summary: GET /api/v1/audit
      operationId: getApiV1Audit
      tags:
        - audit
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/audit/export:
    get:
      summary: "Bulk audit-log export (NDJSON default; ?format=csv). Tenant callers must scope by ?from=<rfc3339>."
      operationId: getApiV1AuditExport
      tags:
        - audit
      responses:
        200:
          description: Success
          content:
            application/x-ndjson:
              schema:
                type: string
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/audit/retention-policies:
    get:
      summary: GET /api/v1/audit/retention-policies
      operationId: getApiV1AuditRetentionpolicies
      tags:
        - audit
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/audit/timeline:
    get:
      summary: GET /api/v1/audit/timeline
      operationId: getApiV1AuditTimeline
      tags:
        - audit
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/audit/verify:
    get:
      summary: Verify the most recent audit-chain tail.
      operationId: getApiV1AuditVerify
      tags:
        - audit
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  chain_valid:
                    type: boolean
                  broken_at_id:
                    type: integer
                    minimum: 0
                required:
                  - chain_valid
                  - broken_at_id
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/audit/verify-deep:
    get:
      summary: "Walk the full audit chain — run as a cron, not interactively."
      operationId: getApiV1AuditVerifydeep
      tags:
        - audit
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/auth/ip-lockouts:
    get:
      summary: GET /api/v1/auth/ip-lockouts
      operationId: getApiV1AuthIplockouts
      tags:
        - auth
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/auth/me:
    get:
      summary: "Return the calling identity, roles, and effective permissions."
      operationId: getApiV1AuthMe
      tags:
        - auth
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                    format: uuid
                  email:
                    type: string
                    format: email
                  full_name:
                    type: string
                  platform_id:
                    type: string
                    format: uuid
                  partner_id:
                    type: string
                    format: uuid
                    nullable: true
                  tenant_id:
                    type: string
                    format: uuid
                    nullable: true
                  roles:
                    type: array
                    items:
                      type: string
                  permissions:
                    type: array
                    items:
                      type: string
                  mfa_verified:
                    type: boolean
                required:
                  - user_id
                  - email
                  - platform_id
                  - roles
                  - permissions
                  - mfa_verified
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/auth/sso/{tenant_slug}/oidc/callback:
    get:
      summary: "GET /api/v1/auth/sso/{tenant_slug}/oidc/callback"
      operationId: getApiV1AuthSsoTenantSlugOidcCallback
      tags:
        - auth
      parameters:
        - name: tenant_slug
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/auth/sso/{tenant_slug}/oidc/start:
    get:
      summary: "GET /api/v1/auth/sso/{tenant_slug}/oidc/start"
      operationId: getApiV1AuthSsoTenantSlugOidcStart
      tags:
        - auth
      parameters:
        - name: tenant_slug
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/auth/sso/{tenant_slug}/saml/start:
    get:
      summary: "GET /api/v1/auth/sso/{tenant_slug}/saml/start"
      operationId: getApiV1AuthSsoTenantSlugSamlStart
      tags:
        - auth
      parameters:
        - name: tenant_slug
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/branding:
    get:
      summary: Resolve white-label branding by Host header.
      operationId: getApiV1Branding
      tags:
        - branding
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  partner_id:
                    type: string
                    format: uuid
                  logo_url:
                    type: string
                  primary_color:
                    type: string
                  support_email:
                    type: string
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/compliance/tenants/{tenant_id}/rollup:
    get:
      summary: Per-framework compliance coverage rollup for the tenant.
      operationId: getApiV1ComplianceTenantsTenantIdRollup
      tags:
        - compliance
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/compliance/{framework}/engagements/{engagement_id}:
    get:
      summary: Compliance report for an engagement in a given framework (ISO27001 / SOC2 / PCI / HIPAA).
      operationId: getApiV1ComplianceFrameworkEngagementsEngagementId
      tags:
        - compliance
      parameters:
        - name: framework
          in: path
          required: true
          schema:
            type: string
        - name: engagement_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/compliance/{framework}/engagements/{engagement_id}.md:
    get:
      summary: Same report as Markdown.
      operationId: getApiV1ComplianceFrameworkEngagementsEngagementIdMd
      tags:
        - compliance
      parameters:
        - name: framework
          in: path
          required: true
          schema:
            type: string
        - name: engagement_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            text/markdown:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/cosign/keys:
    get:
      summary: GET /api/v1/cosign/keys
      operationId: getApiV1CosignKeys
      tags:
        - cosign
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: POST /api/v1/cosign/keys
      operationId: postApiV1CosignKeys
      tags:
        - cosign
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/cosign/verify/{tool}:
    get:
      summary: "GET /api/v1/cosign/verify/{tool}"
      operationId: getApiV1CosignVerifyTool
      tags:
        - cosign
      parameters:
        - name: tool
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/compliance:
    get:
      summary: Compliance posture grid (frameworks × coverage).
      operationId: getApiV1DashboardsCompliance
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/executive:
    get:
      summary: GET /api/v1/dashboards/executive
      operationId: getApiV1DashboardsExecutive
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenant_id:
                    type: string
                    format: uuid
                  open_critical:
                    type: integer
                    minimum: 0
                  open_high:
                    type: integer
                    minimum: 0
                  remediation_sla_breach_count:
                    type: integer
                    minimum: 0
                  scans_last_30d:
                    type: integer
                    minimum: 0
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/findings/critical:
    get:
      summary: GET /api/v1/dashboards/findings/critical
      operationId: getApiV1DashboardsFindingsCritical
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/findings/sla-breaches:
    get:
      summary: GET /api/v1/dashboards/findings/sla-breaches
      operationId: getApiV1DashboardsFindingsSlabreaches
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/geo:
    get:
      summary: Geographic-distribution map for assets and findings.
      operationId: getApiV1DashboardsGeo
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/layouts:
    get:
      summary: List saved per-user dashboard layouts.
      operationId: getApiV1DashboardsLayouts
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: Save a dashboard layout.
      operationId: postApiV1DashboardsLayouts
      tags:
        - dashboards
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/partner:
    get:
      summary: GET /api/v1/dashboards/partner
      operationId: getApiV1DashboardsPartner
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/scans/recent:
    get:
      summary: GET /api/v1/dashboards/scans/recent
      operationId: getApiV1DashboardsScansRecent
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/stream:
    get:
      summary: Server-Sent Events stream of live dashboard updates.
      operationId: getApiV1DashboardsStream
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            text/event-stream:
              schema:
                type: string
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/technical:
    get:
      summary: GET /api/v1/dashboards/technical
      operationId: getApiV1DashboardsTechnical
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenant_id:
                    type: string
                    format: uuid
                  findings_by_severity:
                    type: object
                    additionalProperties:
                      type: integer
                  findings_by_status:
                    type: object
                    additionalProperties:
                      type: integer
                  top_assets_by_finding_count:
                    type: array
                    items:
                      type: object
                      properties:
                        asset_id:
                          type: string
                          format: uuid
                        value:
                          type: string
                        finding_count:
                          type: integer
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/engagements:
    get:
      summary: GET /api/v1/engagements
      operationId: getApiV1Engagements
      tags:
        - engagements
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: POST /api/v1/engagements
      operationId: postApiV1Engagements
      tags:
        - engagements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                partner_id:
                  type: string
                  format: uuid
                tenant_id:
                  type: string
                  format: uuid
                client_id:
                  type: string
                  format: uuid
                code:
                  type: string
                  minLength: 1
                name:
                  type: string
                  minLength: 1
                description:
                  type: string
                starts_at:
                  type: string
                  format: date-time
                ends_at:
                  type: string
                  format: date-time
                intensity:
                  type: string
                  enum:
                    - light
                    - standard
                    - intensive
                emergency_contact_name:
                  type: string
                emergency_contact_email:
                  type: string
                  format: email
                emergency_contact_phone:
                  type: string
              required:
                - partner_id
                - tenant_id
                - code
                - name
                - starts_at
                - ends_at
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  code:
                    type: string
                  name:
                    type: string
                  status:
                    type: string
                  starts_at:
                    type: string
                    format: date-time
                  ends_at:
                    type: string
                    format: date-time
                required:
                  - id
                  - code
                  - status
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/engagements/{engagement_id}:
    get:
      summary: "GET /api/v1/engagements/{engagement_id}"
      operationId: getApiV1EngagementsEngagementId
      tags:
        - engagements
      parameters:
        - name: engagement_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/engagements/{engagement_id}/authorization/{document_id}/view:
    get:
      summary: "GET /api/v1/engagements/{engagement_id}/authorization/{document_id}/view"
      operationId: getApiV1EngagementsEngagementIdAuthorizationDocumentIdView
      tags:
        - engagements
      parameters:
        - name: engagement_id
          in: path
          required: true
          schema:
            type: string
        - name: document_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/engagements/{engagement_id}/roe:
    get:
      summary: "GET /api/v1/engagements/{engagement_id}/roe"
      operationId: getApiV1EngagementsEngagementIdRoe
      tags:
        - engagements
      parameters:
        - name: engagement_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    put:
      summary: "PUT /api/v1/engagements/{engagement_id}/roe"
      operationId: putApiV1EngagementsEngagementIdRoe
      tags:
        - engagements
      parameters:
        - name: engagement_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/evidence/{evidence_id}:
    get:
      summary: "GET /api/v1/evidence/{evidence_id}"
      operationId: getApiV1EvidenceEvidenceId
      tags:
        - evidence
      parameters:
        - name: evidence_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  tenant_id:
                    type: string
                    format: uuid
                  finding_id:
                    type: string
                    format: uuid
                    nullable: true
                  kind:
                    type: string
                  sha256:
                    type: string
                    pattern: "^[a-f0-9]{64}$"
                  size_bytes:
                    type: integer
                    minimum: 0
                  content_type:
                    type: string
                  uploaded_at:
                    type: string
                    format: date-time
                required:
                  - id
                  - tenant_id
                  - kind
                  - sha256
                  - size_bytes
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/evidence/{evidence_id}/chain-of-custody:
    get:
      summary: "GET /api/v1/evidence/{evidence_id}/chain-of-custody"
      operationId: getApiV1EvidenceEvidenceIdChainofcustody
      tags:
        - evidence
      parameters:
        - name: evidence_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/evidence/{evidence_id}/chain-of-custody.md:
    get:
      summary: "GET /api/v1/evidence/{evidence_id}/chain-of-custody.md"
      operationId: getApiV1EvidenceEvidenceIdChainofcustodyMd
      tags:
        - evidence
      parameters:
        - name: evidence_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            text/markdown:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/evidence/{evidence_id}/download:
    get:
      summary: "GET /api/v1/evidence/{evidence_id}/download"
      operationId: getApiV1EvidenceEvidenceIdDownload
      tags:
        - evidence
      parameters:
        - name: evidence_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/evidence/{evidence_id}/url:
    get:
      summary: "GET /api/v1/evidence/{evidence_id}/url"
      operationId: getApiV1EvidenceEvidenceIdUrl
      tags:
        - evidence
      parameters:
        - name: evidence_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/feedback:
    get:
      summary: List feedback items (admin/triage view).
      operationId: getApiV1Feedback
      tags:
        - feedback
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: Submit user feedback (bug/feature/NPS).
      operationId: postApiV1Feedback
      tags:
        - feedback
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/findings:
    get:
      summary: GET /api/v1/findings
      operationId: getApiV1Findings
      tags:
        - findings
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    platform_id:
                      type: string
                      format: uuid
                    tenant_id:
                      type: string
                      format: uuid
                    partner_id:
                      type: string
                      format: uuid
                    engagement_id:
                      type: string
                      format: uuid
                    asset_id:
                      type: string
                      format: uuid
                      nullable: true
                    scan_job_id:
                      type: string
                      format: uuid
                      nullable: true
                    title:
                      type: string
                    description:
                      type: string
                    severity:
                      type: string
                      enum:
                        - critical
                        - high
                        - medium
                        - low
                        - info
                    confidence:
                      type: string
                      enum:
                        - low
                        - medium
                        - high
                    cvss_score:
                      type: number
                      minimum: 0
                      maximum: 10
                    cvss_vector:
                      type: string
                    cwe:
                      type: string
                    cve:
                      type: string
                    scanner:
                      type: string
                    scan_type:
                      type: string
                    affected_endpoint:
                      type: string
                    port:
                      type: integer
                    protocol:
                      type: string
                    status:
                      type: string
                      enum:
                        - open
                        - triaged
                        - assigned
                        - in_progress
                        - risk_accepted
                        - false_positive
                        - remediated
                        - retest_requested
                        - retest_passed
                        - retest_failed
                        - closed
                  required:
                    - id
                    - platform_id
                    - tenant_id
                    - partner_id
                    - engagement_id
                    - title
                    - severity
                    - status
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/findings/clusters:
    get:
      summary: Group similar findings into clusters (vuln-class deduplication).
      operationId: getApiV1FindingsClusters
      tags:
        - findings
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/findings/export.sarif:
    get:
      summary: Export findings as SARIF v2.1.0 (consumed by GitHub / GitLab code-scanning UIs).
      operationId: getApiV1FindingsExportSarif
      tags:
        - findings
      responses:
        200:
          description: Success
          content:
            application/sarif+json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/findings/sla-breaches:
    get:
      summary: GET /api/v1/findings/sla-breaches
      operationId: getApiV1FindingsSlabreaches
      tags:
        - findings
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/findings/{finding_id}:
    get:
      summary: "GET /api/v1/findings/{finding_id}"
      operationId: getApiV1FindingsFindingId
      tags:
        - findings
      parameters:
        - name: finding_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  platform_id:
                    type: string
                    format: uuid
                  tenant_id:
                    type: string
                    format: uuid
                  partner_id:
                    type: string
                    format: uuid
                  engagement_id:
                    type: string
                    format: uuid
                  asset_id:
                    type: string
                    format: uuid
                    nullable: true
                  scan_job_id:
                    type: string
                    format: uuid
                    nullable: true
                  title:
                    type: string
                  description:
                    type: string
                  severity:
                    type: string
                    enum:
                      - critical
                      - high
                      - medium
                      - low
                      - info
                  confidence:
                    type: string
                    enum:
                      - low
                      - medium
                      - high
                  cvss_score:
                    type: number
                    minimum: 0
                    maximum: 10
                  cvss_vector:
                    type: string
                  cwe:
                    type: string
                  cve:
                    type: string
                  scanner:
                    type: string
                  scan_type:
                    type: string
                  affected_endpoint:
                    type: string
                  port:
                    type: integer
                  protocol:
                    type: string
                  status:
                    type: string
                    enum:
                      - open
                      - triaged
                      - assigned
                      - in_progress
                      - risk_accepted
                      - false_positive
                      - remediated
                      - retest_requested
                      - retest_passed
                      - retest_failed
                      - closed
                required:
                  - id
                  - platform_id
                  - tenant_id
                  - partner_id
                  - engagement_id
                  - title
                  - severity
                  - status
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    patch:
      summary: "PATCH /api/v1/findings/{finding_id}"
      operationId: patchApiV1FindingsFindingId
      tags:
        - findings
      parameters:
        - name: finding_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/findings/{finding_id}/comments:
    get:
      summary: "GET /api/v1/findings/{finding_id}/comments"
      operationId: getApiV1FindingsFindingIdComments
      tags:
        - findings
      parameters:
        - name: finding_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: "POST /api/v1/findings/{finding_id}/comments"
      operationId: postApiV1FindingsFindingIdComments
      tags:
        - findings
      parameters:
        - name: finding_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/health:
    get:
      summary: GET /api/v1/health
      operationId: getApiV1Health
      tags:
        - health
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/integration-health:
    get:
      summary: Per-integration delivery health rollup.
      operationId: getApiV1Integrationhealth
      tags:
        - integrations
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/integrations:
    get:
      summary: GET /api/v1/integrations
      operationId: getApiV1Integrations
      tags:
        - integrations
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: POST /api/v1/integrations
      operationId: postApiV1Integrations
      tags:
        - integrations
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/integrations/{integration_id}/dead-letters:
    get:
      summary: List undelivered events for an integration.
      operationId: getApiV1IntegrationsIntegrationIdDeadletters
      tags:
        - integrations
      parameters:
        - name: integration_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/marketplace/installs:
    get:
      summary: "List the calling tenant's marketplace installs."
      operationId: getApiV1MarketplaceInstalls
      tags:
        - marketplace
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: Install a marketplace listing for the calling tenant.
      operationId: postApiV1MarketplaceInstalls
      tags:
        - marketplace
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/marketplace/listings:
    get:
      summary: List partner integration marketplace catalog.
      operationId: getApiV1MarketplaceListings
      tags:
        - marketplace
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/mobile/dashboard:
    get:
      summary: Read the mobile-portal dashboard summary.
      operationId: getApiV1MobileDashboard
      tags:
        - mobile
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/orchestrator/public-key:
    get:
      summary: "Cloud orchestrator's public key (PEM)."
      operationId: getApiV1OrchestratorPublickey
      tags:
        - internal
      responses:
        200:
          description: Success
          content:
            application/x-pem-file:
              schema:
                type: string
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners:
    get:
      summary: GET /api/v1/partners
      operationId: getApiV1Partners
      tags:
        - partners
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: POST /api/v1/partners
      operationId: postApiV1Partners
      tags:
        - partners
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parent_id:
                  type: string
                  format: uuid
                type:
                  type: string
                  enum:
                    - zaishield
                    - distributor
                    - mssp
                    - direct
                    - client
                name:
                  type: string
                  minLength: 1
                slug:
                  type: string
                  pattern: "^[a-z0-9-]+$"
              required:
                - type
                - name
                - slug
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  slug:
                    type: string
                  type:
                    type: string
                required:
                  - id
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}:
    get:
      summary: "GET /api/v1/partners/{partner_id}"
      operationId: getApiV1PartnersPartnerId
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  parent_id:
                    type: string
                    format: uuid
                    nullable: true
                  type:
                    type: string
                  name:
                    type: string
                  slug:
                    type: string
                  status:
                    type: string
                    enum:
                      - active
                      - suspended
                  created_at:
                    type: string
                    format: date-time
                required:
                  - id
                  - name
                  - slug
                  - status
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/billing/blocks:
    get:
      summary: "GET /api/v1/partners/{partner_id}/billing/blocks"
      operationId: getApiV1PartnersPartnerIdBillingBlocks
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/billing/plan:
    get:
      summary: "GET /api/v1/partners/{partner_id}/billing/plan"
      operationId: getApiV1PartnersPartnerIdBillingPlan
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    put:
      summary: "PUT /api/v1/partners/{partner_id}/billing/plan"
      operationId: putApiV1PartnersPartnerIdBillingPlan
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/billing/plan-requests:
    get:
      summary: "List the partner's plan-change requests."
      operationId: getApiV1PartnersPartnerIdBillingPlanrequests
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: File a plan-change request (customer-initiated).
      operationId: postApiV1PartnersPartnerIdBillingPlanrequests
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/billing/usage:
    get:
      summary: "GET /api/v1/partners/{partner_id}/billing/usage"
      operationId: getApiV1PartnersPartnerIdBillingUsage
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/brand-assets:
    get:
      summary: "GET /api/v1/partners/{partner_id}/brand-assets"
      operationId: getApiV1PartnersPartnerIdBrandassets
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/email-templates:
    get:
      summary: "GET /api/v1/partners/{partner_id}/email-templates"
      operationId: getApiV1PartnersPartnerIdEmailtemplates
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/hierarchy/tenant/{tenant_id}:
    get:
      summary: "GET /api/v1/partners/{partner_id}/hierarchy/tenant/{tenant_id}"
      operationId: getApiV1PartnersPartnerIdHierarchyTenantTenantId
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/onboarding:
    get:
      summary: "GET /api/v1/partners/{partner_id}/onboarding"
      operationId: getApiV1PartnersPartnerIdOnboarding
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/preview:
    get:
      summary: Render a branded portal preview for the partner.
      operationId: getApiV1PartnersPartnerIdPreview
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/report-templates:
    get:
      summary: "GET /api/v1/partners/{partner_id}/report-templates"
[...]
