openapi: 3.1.0
info:
  title: ZAISHIELD VAULTSCAN API
  version: 1.0.0
  description: Auto-generated baseline. Operation summaries + response schemas SHOULD be deepened by hand.
servers:
  - url: "https://api.vaultscan.zaishield.com"
  - url: "http://localhost:8080"
paths:
  /api/v1/auth/mfa:
    delete:
      summary: DELETE /api/v1/auth/mfa
      operationId: deleteAuthMfa
      tags:
        - auth
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/cosign/keys/{key_id}:
    delete:
      summary: "DELETE /api/v1/cosign/keys/{key_id}"
      operationId: deleteCosignKeysKeyId
      tags:
        - cosign
      parameters:
        - name: key_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/marketplace/installs/{install_id}:
    delete:
      summary: Uninstall (soft-suspend) a marketplace install.
      operationId: deleteMarketplaceInstallsInstallId
      tags:
        - marketplace
      parameters:
        - name: install_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    patch:
      summary: Configure a pending marketplace install.
      operationId: patchMarketplaceInstallsInstallId
      tags:
        - marketplace
      parameters:
        - name: install_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/mobile/devices/{device_id}:
    delete:
      summary: Revoke a mobile device.
      operationId: deleteMobileDevicesDeviceId
      tags:
        - mobile
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/report-templates/{report_type}:
    delete:
      summary: "DELETE /api/v1/partners/{partner_id}/report-templates/{report_type}"
      operationId: deletePartnersPartnerIdReporttemplatesReportType
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
        - name: report_type
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    put:
      summary: "PUT /api/v1/partners/{partner_id}/report-templates/{report_type}"
      operationId: putPartnersPartnerIdReporttemplatesReportType
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
        - name: report_type
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/tenants/{tenant_id}/branding:
    delete:
      summary: "DELETE /api/v1/tenants/{tenant_id}/branding"
      operationId: deleteTenantsTenantIdBranding
      tags:
        - tenants
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    get:
      summary: "GET /api/v1/tenants/{tenant_id}/branding"
      operationId: getTenantsTenantIdBranding
      tags:
        - tenants
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    put:
      summary: "PUT /api/v1/tenants/{tenant_id}/branding"
      operationId: putTenantsTenantIdBranding
      tags:
        - tenants
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/users/{user_id}/roles/{role_code}:
    delete:
      summary: "DELETE /api/v1/users/{user_id}/roles/{role_code}"
      operationId: deleteUsersUserIdRolesRoleCode
      tags:
        - users
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
        - name: role_code
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /.well-known/jwks.json:
    get:
      summary: GET /.well-known/jwks.json
      operationId: getWellknownJwksJson
      tags:
        - 
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/.well-known/jwks.json:
    get:
      summary: JSON Web Key Set for JWT verification.
      operationId: getWellknownJwksJson
      tags:
        - internal
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents:
    get:
      summary: GET /api/v1/agents
      operationId: getAgents
      tags:
        - agents
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: POST /api/v1/agents
      operationId: postAgents
      tags:
        - agents
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents/{agent_id}:
    get:
      summary: "GET /api/v1/agents/{agent_id}"
      operationId: getAgentsAgentId
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents/{agent_id}/emergency-stop-sla:
    get:
      summary: Time-to-emergency-stop SLA for an agent.
      operationId: getAgentsAgentIdEmergencystopsla
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents/{agent_id}/policy:
    get:
      summary: "GET /api/v1/agents/{agent_id}/policy"
      operationId: getAgentsAgentIdPolicy
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    put:
      summary: "PUT /api/v1/agents/{agent_id}/policy"
      operationId: putAgentsAgentIdPolicy
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents/{agent_id}/telemetry:
    get:
      summary: Heartbeat + resource telemetry timeline.
      operationId: getAgentsAgentIdTelemetry
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents/{agent_id}/update-offer:
    get:
      summary: Available agent-binary update (signed offer).
      operationId: getAgentsAgentIdUpdateoffer
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/assets:
    get:
      summary: GET /api/v1/assets
      operationId: getAssets
      tags:
        - assets
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: POST /api/v1/assets
      operationId: postAssets
      tags:
        - assets
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/assets/{asset_id}/risk-score:
    get:
      summary: "GET /api/v1/assets/{asset_id}/risk-score"
      operationId: getAssetsAssetIdRiskscore
      tags:
        - assets
      parameters:
        - name: asset_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/audit:
    get:
      summary: GET /api/v1/audit
      operationId: getAudit
      tags:
        - audit
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/audit/export:
    get:
      summary: "Bulk audit-log export (NDJSON default; ?format=csv). Tenant callers must scope by ?from=<rfc3339>."
      operationId: getAuditExport
      tags:
        - audit
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/audit/retention-policies:
    get:
      summary: GET /api/v1/audit/retention-policies
      operationId: getAuditRetentionpolicies
      tags:
        - audit
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/audit/timeline:
    get:
      summary: GET /api/v1/audit/timeline
      operationId: getAuditTimeline
      tags:
        - audit
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/audit/verify:
    get:
      summary: Verify the most recent audit-chain tail.
      operationId: getAuditVerify
      tags:
        - audit
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/audit/verify-deep:
    get:
      summary: "Walk the full audit chain — run as a cron, not interactively."
      operationId: getAuditVerifydeep
      tags:
        - audit
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/auth/ip-lockouts:
    get:
      summary: GET /api/v1/auth/ip-lockouts
      operationId: getAuthIplockouts
      tags:
        - auth
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/auth/me:
    get:
      summary: "Return the calling identity, roles, and effective permissions."
      operationId: getAuthMe
      tags:
        - auth
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/branding:
    get:
      summary: Resolve white-label branding by Host header.
      operationId: getBranding
      tags:
        - branding
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/compliance/{framework}/engagements/{engagement_id}:
    get:
      summary: Compliance report for an engagement in a given framework (ISO27001 / SOC2 / PCI / HIPAA).
      operationId: getComplianceFrameworkEngagementsEngagementId
      tags:
        - compliance
      parameters:
        - name: framework
          in: path
          required: true
          schema:
            type: string
        - name: engagement_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/compliance/{framework}/engagements/{engagement_id}.md:
    get:
      summary: Same report as Markdown.
      operationId: getComplianceFrameworkEngagementsEngagementIdMd
      tags:
        - compliance
      parameters:
        - name: framework
          in: path
          required: true
          schema:
            type: string
        - name: engagement_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/cosign/keys:
    get:
      summary: GET /api/v1/cosign/keys
      operationId: getCosignKeys
      tags:
        - cosign
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: POST /api/v1/cosign/keys
      operationId: postCosignKeys
      tags:
        - cosign
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/cosign/verify/{tool}:
    get:
      summary: "GET /api/v1/cosign/verify/{tool}"
      operationId: getCosignVerifyTool
      tags:
        - cosign
      parameters:
        - name: tool
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/compliance:
    get:
      summary: Compliance posture grid (frameworks × coverage).
      operationId: getDashboardsCompliance
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/executive:
    get:
      summary: GET /api/v1/dashboards/executive
      operationId: getDashboardsExecutive
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/findings/critical:
    get:
      summary: GET /api/v1/dashboards/findings/critical
      operationId: getDashboardsFindingsCritical
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/findings/sla-breaches:
    get:
      summary: GET /api/v1/dashboards/findings/sla-breaches
      operationId: getDashboardsFindingsSlabreaches
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/geo:
    get:
      summary: Geographic-distribution map for assets and findings.
      operationId: getDashboardsGeo
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/layouts:
    get:
      summary: List saved per-user dashboard layouts.
      operationId: getDashboardsLayouts
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: Save a dashboard layout.
      operationId: postDashboardsLayouts
      tags:
        - dashboards
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/partner:
    get:
      summary: GET /api/v1/dashboards/partner
      operationId: getDashboardsPartner
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/scans/recent:
    get:
      summary: GET /api/v1/dashboards/scans/recent
      operationId: getDashboardsScansRecent
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/stream:
    get:
      summary: Server-Sent Events stream of live dashboard updates.
      operationId: getDashboardsStream
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/technical:
    get:
      summary: GET /api/v1/dashboards/technical
      operationId: getDashboardsTechnical
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/engagements:
    get:
      summary: GET /api/v1/engagements
      operationId: getEngagements
      tags:
        - engagements
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: POST /api/v1/engagements
      operationId: postEngagements
      tags:
        - engagements
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/engagements/{engagement_id}:
    get:
      summary: "GET /api/v1/engagements/{engagement_id}"
      operationId: getEngagementsEngagementId
      tags:
        - engagements
      parameters:
        - name: engagement_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/engagements/{engagement_id}/authorization/{document_id}/view:
    get:
      summary: "GET /api/v1/engagements/{engagement_id}/authorization/{document_id}/view"
      operationId: getEngagementsEngagementIdAuthorizationDocumentIdView
      tags:
        - engagements
      parameters:
        - name: engagement_id
          in: path
          required: true
          schema:
            type: string
        - name: document_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/engagements/{engagement_id}/roe:
    get:
      summary: "GET /api/v1/engagements/{engagement_id}/roe"
      operationId: getEngagementsEngagementIdRoe
      tags:
        - engagements
      parameters:
        - name: engagement_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    put:
      summary: "PUT /api/v1/engagements/{engagement_id}/roe"
      operationId: putEngagementsEngagementIdRoe
      tags:
        - engagements
      parameters:
        - name: engagement_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/evidence/{evidence_id}:
    get:
      summary: "GET /api/v1/evidence/{evidence_id}"
      operationId: getEvidenceEvidenceId
      tags:
        - evidence
      parameters:
        - name: evidence_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/evidence/{evidence_id}/chain-of-custody:
    get:
      summary: "GET /api/v1/evidence/{evidence_id}/chain-of-custody"
      operationId: getEvidenceEvidenceIdChainofcustody
      tags:
        - evidence
      parameters:
        - name: evidence_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/evidence/{evidence_id}/chain-of-custody.md:
    get:
      summary: "GET /api/v1/evidence/{evidence_id}/chain-of-custody.md"
      operationId: getEvidenceEvidenceIdChainofcustodyMd
      tags:
        - evidence
      parameters:
        - name: evidence_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/evidence/{evidence_id}/download:
    get:
      summary: "GET /api/v1/evidence/{evidence_id}/download"
      operationId: getEvidenceEvidenceIdDownload
      tags:
        - evidence
      parameters:
        - name: evidence_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/evidence/{evidence_id}/url:
    get:
      summary: "GET /api/v1/evidence/{evidence_id}/url"
      operationId: getEvidenceEvidenceIdUrl
      tags:
        - evidence
      parameters:
        - name: evidence_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/feedback:
    get:
      summary: List feedback items (admin/triage view).
      operationId: getFeedback
      tags:
        - feedback
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: Submit user feedback (bug/feature/NPS).
      operationId: postFeedback
      tags:
        - feedback
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/findings:
    get:
      summary: GET /api/v1/findings
      operationId: getFindings
      tags:
        - findings
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/findings/clusters:
    get:
      summary: Group similar findings into clusters (vuln-class deduplication).
      operationId: getFindingsClusters
      tags:
        - findings
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/findings/export.sarif:
    get:
      summary: Export findings as SARIF v2.1.0 (consumed by GitHub / GitLab code-scanning UIs).
      operationId: getFindingsExportSarif
      tags:
        - findings
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/findings/sla-breaches:
    get:
      summary: GET /api/v1/findings/sla-breaches
      operationId: getFindingsSlabreaches
      tags:
        - findings
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/findings/{finding_id}:
    get:
      summary: "GET /api/v1/findings/{finding_id}"
      operationId: getFindingsFindingId
      tags:
        - findings
      parameters:
        - name: finding_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    patch:
      summary: "PATCH /api/v1/findings/{finding_id}"
      operationId: patchFindingsFindingId
      tags:
        - findings
      parameters:
        - name: finding_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/findings/{finding_id}/comments:
    get:
      summary: "GET /api/v1/findings/{finding_id}/comments"
      operationId: getFindingsFindingIdComments
      tags:
        - findings
      parameters:
        - name: finding_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: "POST /api/v1/findings/{finding_id}/comments"
      operationId: postFindingsFindingIdComments
      tags:
        - findings
      parameters:
        - name: finding_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/health:
    get:
      summary: GET /api/v1/health
      operationId: getHealth
      tags:
        - health
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/integration-health:
    get:
      summary: Per-integration delivery health rollup.
      operationId: getIntegrationhealth
      tags:
        - integrations
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/integrations:
    get:
      summary: GET /api/v1/integrations
      operationId: getIntegrations
      tags:
        - integrations
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/integrations/{integration_id}/dead-letters:
    get:
      summary: List undelivered events for an integration.
      operationId: getIntegrationsIntegrationIdDeadletters
      tags:
        - integrations
      parameters:
        - name: integration_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/marketplace/installs:
    get:
      summary: "List the calling tenant's marketplace installs."
      operationId: getMarketplaceInstalls
      tags:
        - marketplace
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: Install a marketplace listing for the calling tenant.
      operationId: postMarketplaceInstalls
      tags:
        - marketplace
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/marketplace/listings:
    get:
      summary: List partner integration marketplace catalog.
      operationId: getMarketplaceListings
      tags:
        - marketplace
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/mobile/dashboard:
    get:
      summary: Read the mobile-portal dashboard summary.
      operationId: getMobileDashboard
      tags:
        - mobile
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/orchestrator/public-key:
    get:
      summary: "Cloud orchestrator's public key (PEM)."
      operationId: getOrchestratorPublickey
      tags:
        - internal
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners:
    get:
      summary: GET /api/v1/partners
      operationId: getPartners
      tags:
        - partners
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: POST /api/v1/partners
      operationId: postPartners
      tags:
        - partners
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}:
    get:
      summary: "GET /api/v1/partners/{partner_id}"
      operationId: getPartnersPartnerId
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/billing/blocks:
    get:
      summary: "GET /api/v1/partners/{partner_id}/billing/blocks"
      operationId: getPartnersPartnerIdBillingBlocks
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/billing/plan:
    get:
      summary: "GET /api/v1/partners/{partner_id}/billing/plan"
      operationId: getPartnersPartnerIdBillingPlan
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    put:
      summary: "PUT /api/v1/partners/{partner_id}/billing/plan"
      operationId: putPartnersPartnerIdBillingPlan
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/billing/usage:
    get:
      summary: "GET /api/v1/partners/{partner_id}/billing/usage"
      operationId: getPartnersPartnerIdBillingUsage
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/brand-assets:
    get:
      summary: "GET /api/v1/partners/{partner_id}/brand-assets"
      operationId: getPartnersPartnerIdBrandassets
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/email-templates:
    get:
      summary: "GET /api/v1/partners/{partner_id}/email-templates"
      operationId: getPartnersPartnerIdEmailtemplates
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/hierarchy/tenant/{tenant_id}:
    get:
      summary: "GET /api/v1/partners/{partner_id}/hierarchy/tenant/{tenant_id}"
      operationId: getPartnersPartnerIdHierarchyTenantTenantId
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/onboarding:
    get:
      summary: "GET /api/v1/partners/{partner_id}/onboarding"
      operationId: getPartnersPartnerIdOnboarding
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/preview:
    get:
      summary: Render a branded portal preview for the partner.
      operationId: getPartnersPartnerIdPreview
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/report-templates:
    get:
      summary: "GET /api/v1/partners/{partner_id}/report-templates"
      operationId: getPartnersPartnerIdReporttemplates
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/platform/maintenance:
    get:
      summary: Read platform-wide maintenance window state.
      operationId: getPlatformMaintenance
      tags:
        - platform-ops
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    put:
      summary: PUT /api/v1/platform/maintenance
      operationId: putPlatformMaintenance
      tags:
        - platform-ops
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/platform/policy-rules:
    get:
      summary: List platform-wide policy rules in effect.
      operationId: getPlatformPolicyrules
      tags:
        - platform-ops
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/reports/{report_id}:
    get:
      summary: "GET /api/v1/reports/{report_id}"
      operationId: getReportsReportId
      tags:
        - reports
      parameters:
        - name: report_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/retest-batches/{batch_id}:
    get:
      summary: "Read a retest batch's progress."
      operationId: getRetestbatchesBatchId
      tags:
        - retesting
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/retests/findings/{finding_id}:
    get:
      summary: "GET /api/v1/retests/findings/{finding_id}"
      operationId: getRetestsFindingsFindingId
      tags:
        - retesting
      parameters:
        - name: finding_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/retests/queue:
    get:
      summary: GET /api/v1/retests/queue
      operationId: getRetestsQueue
      tags:
        - retesting
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/retests/{retest_id}/diff:
    get:
      summary: Compare pre vs post-fix scan output for a retest.
      operationId: getRetestsRetestIdDiff
      tags:
        - retesting
      parameters:
        - name: retest_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/scanner/regions/{region}/network-policy.yaml:
    get:
      summary: "GET /api/v1/scanner/regions/{region}/network-policy.yaml"
      operationId: getScannerRegionsRegionNetworkpolicyYaml
      tags:
        - scanner-ops
      parameters:
        - name: region
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/scanner/regions/{region}/quota:
    get:
      summary: Per-region scanner quota + utilisation.
      operationId: getScannerRegionsRegionQuota
      tags:
        - scanner-ops
      parameters:
        - name: region
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    put:
      summary: "PUT /api/v1/scanner/regions/{region}/quota"
      operationId: putScannerRegionsRegionQuota
      tags:
        - scanner-ops
      parameters:
        - name: region
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/scans:
    get:
      summary: GET /api/v1/scans
      operationId: getScans
      tags:
        - scans
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/scans/profiles:
    get:
      summary: GET /api/v1/scans/profiles
      operationId: getScansProfiles
      tags:
        - scans
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/scans/{scan_id}:
    get:
      summary: "GET /api/v1/scans/{scan_id}"
      operationId: getScansScanId
      tags:
        - scans
      parameters:
        - name: scan_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/scope/{engagement_id}:
    get:
      summary: "GET /api/v1/scope/{engagement_id}"
      operationId: getScopeEngagementId
      tags:
        - scope
      parameters:
        - name: engagement_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/status:
    get:
      summary: Public health + version + uptime snapshot (status-page friendly).
      operationId: getStatus
      tags:
        - status
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/tenants:
    get:
      summary: List tenants visible to the caller.
      operationId: getTenants
      tags:
        - tenants
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: POST /api/v1/tenants
      operationId: postTenants
      tags:
        - tenants
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/tenants/{tenant_id}:
    get:
      summary: "GET /api/v1/tenants/{tenant_id}"
      operationId: getTenantsTenantId
      tags:
        - tenants
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/usage:
    get:
      summary: "Self-service usage, plan, and rate-limit visibility for the caller."
      operationId: getUsage
      tags:
        - usage
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/users:
    get:
      summary: GET /api/v1/users
      operationId: getUsers
      tags:
        - users
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: POST /api/v1/users
      operationId: postUsers
      tags:
        - users
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/users/{user_id}:
    get:
      summary: "GET /api/v1/users/{user_id}"
      operationId: getUsersUserId
      tags:
        - users
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/users/{user_id}/roles:
    get:
      summary: "GET /api/v1/users/{user_id}/roles"
      operationId: getUsersUserIdRoles
      tags:
        - users
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: "POST /api/v1/users/{user_id}/roles"
      operationId: postUsersUserIdRoles
      tags:
        - users
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /healthz:
    get:
      summary: Liveness probe — does NOT touch downstream stores.
      operationId: getHealthz
      tags:
        - 
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /livez:
    get:
      summary: GET /livez
      operationId: getLivez
      tags:
        - 
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /readyz:
    get:
      summary: Readiness probe — DB + audit-chain checks. Strips internal hostnames.
      operationId: getReadyz
      tags:
        - 
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/feedback/{feedback_id}:
    patch:
      summary: Triage a feedback item.
      operationId: patchFeedbackFeedbackId
      tags:
        - feedback
      parameters:
        - name: feedback_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/retest-batches/{batch_id}/items/{retest_id}:
    patch:
      summary: "PATCH /api/v1/retest-batches/{batch_id}/items/{retest_id}"
      operationId: patchRetestbatchesBatchIdItemsRetestId
      tags:
        - retesting
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
            type: string
        - name: retest_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agent-updates:
    post:
      summary: POST /api/v1/agent-updates
      operationId: postAgentupdates
      tags:
        - agents
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents/{agent_id}/csr:
    post:
      summary: "POST /api/v1/agents/{agent_id}/csr"
      operationId: postAgentsAgentIdCsr
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents/{agent_id}/emergency-stop:
    post:
      summary: "POST /api/v1/agents/{agent_id}/emergency-stop"
      operationId: postAgentsAgentIdEmergencystop
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
[...]
