openapi: 3.1.0
info:
  title: ZAISHIELD VAULTSCAN API
  version: 1.0.0
  description: |
    Multi-tenant security platform API. Every endpoint requires bearer
    authentication unless explicitly marked `security: []` (public health
    + branding lookup endpoints).

    Rate limits: per-identity defaults to 100 RPS / 60s window;
    per-tenant cap is 10× the identity limit. Limits are exposed via
    `X-RateLimit-Limit` and `X-RateLimit-Reset` on every response.

    Deprecation policy: endpoints scheduled for removal emit
    `Deprecation: true` + `Sunset: <RFC1123 date>` + `Link: <successor>`
    headers at least 90 days before retirement.

    Pagination: list endpoints use `before_id`/`limit` keyset cursors;
    `next_before_id` in the response body advances the page.
  contact:
    name: ZAISHIELD Support
    url: https://docs.vaultscan.zaishield.com/support
  license:
    name: Proprietary
servers:
  - url: "https://api.vaultscan.zaishield.com"
    description: Production
  - url: "http://localhost:8080"
    description: Local dev
paths:
  /api/v1/mobile/devices/{device_id}:
    delete:
      summary: Revoke a mobile device.
      operationId: deleteMobileDevicesDeviceId
      tags:
        - mobile
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /.well-known/jwks.json:
    get:
      summary: GET /.well-known/jwks.json
      operationId: getWellknownJwksJson
      tags:
        - auth
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
            application/jwk-set+json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/.well-known/jwks.json:
    get:
      summary: JSON Web Key Set for JWT verification.
      operationId: getApiV1WellknownJwksJson
      tags:
        - internal
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
            application/jwk-set+json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents/{agent_id}/emergency-stop-sla:
    get:
      summary: "GET /api/v1/agents/{agent_id}/emergency-stop-sla"
      operationId: getAgentsAgentIdEmergencystopsla
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents/{agent_id}/telemetry:
    get:
      summary: "GET /api/v1/agents/{agent_id}/telemetry"
      operationId: getAgentsAgentIdTelemetry
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents/{agent_id}/update-offer:
    get:
      summary: "GET /api/v1/agents/{agent_id}/update-offer"
      operationId: getAgentsAgentIdUpdateoffer
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/auth/me:
    get:
      summary: GET /api/v1/auth/me
      operationId: getAuthMe
      tags:
        - auth
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/branding:
    get:
      summary: GET /api/v1/branding
      operationId: getBranding
      tags:
        - branding
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/compliance/{framework}/engagements/{engagement_id}:
    get:
      summary: "GET /api/v1/compliance/{framework}/engagements/{engagement_id}"
      operationId: getComplianceFrameworkEngagementsEngagementId
      tags:
        - compliance
      parameters:
        - name: framework
          in: path
          required: true
          schema:
            type: string
        - name: engagement_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/compliance/{framework}/engagements/{engagement_id}.md:
    get:
      summary: "GET /api/v1/compliance/{framework}/engagements/{engagement_id}.md"
      operationId: getComplianceFrameworkEngagementsEngagementIdMd
      tags:
        - compliance
      parameters:
        - name: framework
          in: path
          required: true
          schema:
            type: string
        - name: engagement_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/compliance:
    get:
      summary: GET /api/v1/dashboards/compliance
      operationId: getDashboardsCompliance
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/geo:
    get:
      summary: GET /api/v1/dashboards/geo
      operationId: getDashboardsGeo
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/layouts:
    get:
      summary: GET /api/v1/dashboards/layouts
      operationId: getDashboardsLayouts
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: POST /api/v1/dashboards/layouts
      operationId: postDashboardsLayouts
      tags:
        - dashboards
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/stream:
    get:
      summary: GET /api/v1/dashboards/stream
      operationId: getDashboardsStream
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/findings/clusters:
    get:
      summary: GET /api/v1/findings/clusters
      operationId: getFindingsClusters
      tags:
        - findings
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/findings/export.sarif:
    get:
      summary: GET /api/v1/findings/export.sarif
      operationId: getFindingsExportSarif
      tags:
        - findings
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/integration-health:
    get:
      summary: GET /api/v1/integration-health
      operationId: getIntegrationhealth
      tags:
        - integrations
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/integrations/{integration_id}/dead-letters:
    get:
      summary: "GET /api/v1/integrations/{integration_id}/dead-letters"
      operationId: getIntegrationsIntegrationIdDeadletters
      tags:
        - integrations
      parameters:
        - name: integration_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/marketplace/installs:
    get:
      summary: "List the calling tenant's marketplace installs."
      operationId: getMarketplaceInstalls
      tags:
        - marketplace
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/marketplace/listings:
    get:
      summary: List partner integration marketplace catalog.
      operationId: getMarketplaceListings
      tags:
        - marketplace
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/mobile/dashboard:
    get:
      summary: Read the mobile-portal dashboard summary.
      operationId: getMobileDashboard
      tags:
        - mobile
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/orchestrator/public-key:
    get:
      summary: "Cloud orchestrator's public key (PEM)."
      operationId: getOrchestratorPublickey
      tags:
        - internal
      responses:
        200:
          description: Success
          content:
            application/x-pem-file:
              schema:
                type: string
            text/plain:
              schema:
                type: string
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/preview:
    get:
      summary: "GET /api/v1/partners/{partner_id}/preview"
      operationId: getPartnersPartnerIdPreview
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/platform/maintenance:
    get:
      summary: GET /api/v1/platform/maintenance
      operationId: getPlatformMaintenance
      tags:
        - platform-ops
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/platform/policy-rules:
    get:
      summary: GET /api/v1/platform/policy-rules
      operationId: getPlatformPolicyrules
      tags:
        - platform-ops
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/retest-batches/{batch_id}:
    get:
      summary: "GET /api/v1/retest-batches/{batch_id}"
      operationId: getRetestbatchesBatchId
      tags:
        - retesting
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/retests/{retest_id}/diff:
    get:
      summary: "GET /api/v1/retests/{retest_id}/diff"
      operationId: getRetestsRetestIdDiff
      tags:
        - retesting
      parameters:
        - name: retest_id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /healthz:
    get:
      summary: GET /healthz
      operationId: getHealthz
      tags:
        - health
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /readyz:
    get:
      summary: GET /readyz
      operationId: getReadyz
      tags:
        - health
      responses:
        200:
          description: Service ready
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/auth/dev-token:
    post:
      summary: POST /api/v1/auth/dev-token
      operationId: postAuthDevtoken
      tags:
        - auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/auth/logout:
    post:
      summary: POST /api/v1/auth/logout
      operationId: postAuthLogout
      tags:
        - auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/auth/mfa/enroll/confirm:
    post:
      summary: POST /api/v1/auth/mfa/enroll/confirm
      operationId: postAuthMfaEnrollConfirm
      tags:
        - auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/auth/mfa/enroll/start:
    post:
      summary: POST /api/v1/auth/mfa/enroll/start
      operationId: postAuthMfaEnrollStart
      tags:
        - auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/auth/mfa/verify:
    post:
      summary: POST /api/v1/auth/mfa/verify
      operationId: postAuthMfaVerify
      tags:
        - auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/emergency-stops/{stop_id}/ack:
    post:
      summary: "POST /api/v1/emergency-stops/{stop_id}/ack"
      operationId: postEmergencystopsStopIdAck
      tags:
        - emergency-stops
      parameters:
        - name: stop_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/feedback:
    post:
      summary: Submit user feedback (bug/feature/NPS).
      operationId: postFeedback
      tags:
        - feedback
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/feedback/dismiss-nps:
    post:
      summary: Hide the NPS prompt for the current session.
      operationId: postFeedbackDismissnps
      tags:
        - feedback
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/mobile/alerts/ack:
    post:
      summary: Acknowledge a push-notification alert.
      operationId: postMobileAlertsAck
      tags:
        - mobile
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/mobile/devices:
    post:
      summary: Enroll a mobile device with a push token.
      operationId: postMobileDevices
      tags:
        - mobile
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/platform/break-glass/redeem:
    post:
      summary: POST /api/v1/platform/break-glass/redeem
      operationId: postPlatformBreakglassRedeem
      tags:
        - platform-ops
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /metrics:
    get:
      summary: Prometheus metrics scrape endpoint
      operationId: getMetrics
      tags:
        - observability
      responses:
        200:
          description: OpenMetrics-formatted snapshot
          content:
            application/openmetrics-text:
              schema: {type: string}
            text/plain:
              schema: {type: string}
  /api/v1/audit/verify:
    get:
      summary: Quick audit chain verification (most recent N rows)
      operationId: getAuditVerify
      tags:
        - audit
      responses:
        200: {description: Result, content: {application/json: {schema: {type: object, additionalProperties: true}}}}
  /api/v1/audit/verify-deep:
    get:
      summary: Deep audit chain verification (every row from genesis)
      operationId: getAuditVerifyDeep
      tags:
        - audit
      responses:
        200: {description: Result, content: {application/json: {schema: {type: object, additionalProperties: true}}}}
  /api/v1/scanner/regions/{region}/quota:
    get:
      summary: Per-region scanner quota and inflight counts
      operationId: getScannerRegionQuota
      tags:
        - scanner
      parameters:
        - {name: region, in: path, required: true, schema: {type: string}}
      responses:
        200: {description: Quota stats, content: {application/json: {schema: {type: object, additionalProperties: true}}}}
  /api/v1/tenants:
    post:
      summary: Create a tenant
      operationId: postApiV1Tenants
      tags:
        - tenants
      requestBody:
        required: true
        content:
          application/json:
            schema: {type: object, additionalProperties: true}
      responses:
        201: {description: Created, content: {application/json: {schema: {type: object, additionalProperties: true}}}}
  /api/v1/usage:
    get:
      summary: Self-service usage, plan, and rate-limit visibility
      description: |
        Returns the calling identity's current billing plan + live
        usage counts (assets/scans/agents) plus the API rate-limit
        caps configured for this deployment.

        Partner resolution: identity.partner_id wins; otherwise the
        tenant's partner via partner_customer_mapping; otherwise the
        platform-default partner. Returns empty plan + zero usage if
        no partner mapping exists.
      operationId: getMyUsage
      tags:
        - billing
      responses:
        200:
          description: Usage snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  identity:
                    type: object
                    properties:
                      user_id: {type: string, format: uuid}
                      tenant_id: {type: string, format: uuid, nullable: true}
                      partner_id: {type: string, format: uuid}
                  plan:
                    type: object
                    nullable: true
                    properties:
                      plan_code: {type: string}
                      name: {type: string}
                      asset_quota: {type: integer}
                      scan_quota: {type: integer}
                      agent_quota: {type: integer}
                      overage_policy: {type: string, enum: [block, warn, allow]}
                  usage:
                    type: object
                    nullable: true
                    properties:
                      assets: {type: integer}
                      scans_current_cycle: {type: integer}
                      agents: {type: integer}
                      as_of: {type: string, format: date-time}
                  rate_limit:
                    type: object
                    properties:
                      per_identity_rps: {type: integer}
                      window_seconds: {type: integer}
                      per_tenant_multiplier: {type: integer}
        401: {$ref: "#/components/responses/Unauthorized"}
  /api/v1/status:
    get:
      summary: Public status (version, uptime, component health)
      description: |
        Unauthenticated status snapshot for status-page integrations.
        Component detail strings (DB error text, upstream HTTP codes)
        are stripped to avoid leaking internal hostnames; the
        authenticated /api/v1/health endpoint returns the full detail.

        Response is cacheable for 30 seconds.
      operationId: getStatus
      tags:
        - health
      security: []
      responses:
        200:
          description: Status snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: {type: string, enum: [ok, degraded, fail]}
                  version: {type: string}
                  uptime_seconds: {type: integer}
                  timestamp: {type: string, format: date-time}
                  components:
                    type: array
                    items:
                      type: object
                      properties:
                        name: {type: string}
                        status: {type: string}
                        optional: {type: boolean}
  /api/v1/audit/export:
    get:
      summary: Bulk audit-log export (NDJSON or CSV)
      description: |
        Streams audit rows matching the filter as NDJSON (default) or
        CSV (?format=csv). Designed for SIEM / compliance pulls — the
        response is unbounded so memory stays flat for million-row
        tenants.

        Tenant-level callers MUST scope by ?from=<rfc3339> to bound
        the pull; platform admins may omit for full-archive exports.
      operationId: exportAudit
      tags:
        - audit
      parameters:
        - name: tenant_id
          in: query
          schema: {type: string, format: uuid}
        - name: event
          in: query
          schema: {type: string}
        - name: from
          in: query
          schema: {type: string, format: date-time}
        - name: to
          in: query
          schema: {type: string, format: date-time}
        - name: format
          in: query
          schema: {type: string, enum: [ndjson, csv], default: ndjson}
      responses:
        200:
          description: Streamed export
          content:
            application/x-ndjson:
              schema: {type: string}
            text/csv:
              schema: {type: string}
        400: {$ref: "#/components/responses/BadRequest"}
        401: {$ref: "#/components/responses/Unauthorized"}
        403: {$ref: "#/components/responses/Forbidden"}
  /api/v1/users/{user_id}/erase:
    post:
      summary: GDPR Article 17 right-to-erasure
      description: |
        Pseudonymises the user's PII (email, full_name, keycloak_sub),
        revokes all active sessions, and emits a user.erased audit row.
        The audit history is retained under a separate legal basis
        (accountability), per regulator guidance.

        Cannot be self-served — the actor must be a different
        operator. MFA-required.
      operationId: eraseUser
      tags:
        - users
      parameters:
        - name: user_id
          in: path
          required: true
          schema: {type: string, format: uuid}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  description: Regulator request, consent withdrawal, etc.
      responses:
        200:
          description: Erased
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: {type: string, enum: [erased]}
                  note: {type: string}
        400: {$ref: "#/components/responses/BadRequest"}
        401: {$ref: "#/components/responses/Unauthorized"}
        403: {$ref: "#/components/responses/Forbidden"}
  /api/v1/tenants/{tenant_id}/residency:
    put:
      summary: Pin or clear the tenant's data-residency commitment
      description: |
        Updates the tenant's data_region pin. Empty region clears the
        pin. Only operators with create_tenant may invoke this — the
        residency commitment is contractual.

        Allowed regions: ae | eu | uk | in | us | sg | au | jp.
      operationId: setTenantResidency
      tags:
        - tenants
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema: {type: string, format: uuid}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                region:
                  type: string
                  enum: [ae, eu, uk, in, us, sg, au, jp, ""]
                reason:
                  type: string
      responses:
        200:
          description: Pinned
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: {type: string, enum: [ok]}
                  region: {type: string}
        400: {$ref: "#/components/responses/BadRequest"}
        401: {$ref: "#/components/responses/Unauthorized"}
        403: {$ref: "#/components/responses/Forbidden"}
  /api/v1/auth/jwt-keys/rotate:
    post:
      summary: Rotate the JWT signing key
      operationId: postAuthJwtKeysRotate
      tags:
        - auth
      responses:
        200: {description: Rotated, content: {application/json: {schema: {type: object, additionalProperties: true}}}}

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing or invalid bearer token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Permission denied / cross-tenant
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Internal:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
          required:
            - code
            - message
      required:
        - error
security:
  - bearerAuth: []
