openapi: 3.1.0
info:
  title: ZAISHIELD VAULTSCAN API
  version: 1.0.0
  description: Auto-generated baseline. Operation summaries + response schemas SHOULD be deepened by hand.
servers:
  - url: "https://api.vaultscan.zaishield.com"
  - url: "http://localhost:8080"
paths:
  /api/v1/mobile/devices/{device_id}:
    delete:
      summary: Revoke a mobile device.
      operationId: deleteMobileDevicesDeviceId
      tags:
        - mobile
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /.well-known/jwks.json:
    get:
      summary: GET /.well-known/jwks.json
      operationId: getWellknownJwksJson
      tags:
        - 
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/.well-known/jwks.json:
    get:
      summary: JSON Web Key Set for JWT verification.
      operationId: getWellknownJwksJson
      tags:
        - internal
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents/{agent_id}/emergency-stop-sla:
    get:
      summary: "GET /api/v1/agents/{agent_id}/emergency-stop-sla"
      operationId: getAgentsAgentIdEmergencystopsla
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents/{agent_id}/telemetry:
    get:
      summary: "GET /api/v1/agents/{agent_id}/telemetry"
      operationId: getAgentsAgentIdTelemetry
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/agents/{agent_id}/update-offer:
    get:
      summary: "GET /api/v1/agents/{agent_id}/update-offer"
      operationId: getAgentsAgentIdUpdateoffer
      tags:
        - agents
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/auth/me:
    get:
      summary: GET /api/v1/auth/me
      operationId: getAuthMe
      tags:
        - auth
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/branding:
    get:
      summary: GET /api/v1/branding
      operationId: getBranding
      tags:
        - branding
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/compliance/{framework}/engagements/{engagement_id}:
    get:
      summary: "GET /api/v1/compliance/{framework}/engagements/{engagement_id}"
      operationId: getComplianceFrameworkEngagementsEngagementId
      tags:
        - compliance
      parameters:
        - name: framework
          in: path
          required: true
          schema:
          type: string
        - name: engagement_id
          in: path
          required: true
          schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/compliance/{framework}/engagements/{engagement_id}.md:
    get:
      summary: "GET /api/v1/compliance/{framework}/engagements/{engagement_id}.md"
      operationId: getComplianceFrameworkEngagementsEngagementIdMd
      tags:
        - compliance
      parameters:
        - name: framework
          in: path
          required: true
          schema:
          type: string
        - name: engagement_id
          in: path
          required: true
          schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/compliance:
    get:
      summary: GET /api/v1/dashboards/compliance
      operationId: getDashboardsCompliance
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/geo:
    get:
      summary: GET /api/v1/dashboards/geo
      operationId: getDashboardsGeo
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/layouts:
    get:
      summary: GET /api/v1/dashboards/layouts
      operationId: getDashboardsLayouts
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
    post:
      summary: POST /api/v1/dashboards/layouts
      operationId: postDashboardsLayouts
      tags:
        - dashboards
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/dashboards/stream:
    get:
      summary: GET /api/v1/dashboards/stream
      operationId: getDashboardsStream
      tags:
        - dashboards
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/findings/clusters:
    get:
      summary: GET /api/v1/findings/clusters
      operationId: getFindingsClusters
      tags:
        - findings
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/findings/export.sarif:
    get:
      summary: GET /api/v1/findings/export.sarif
      operationId: getFindingsExportSarif
      tags:
        - findings
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/integration-health:
    get:
      summary: GET /api/v1/integration-health
      operationId: getIntegrationhealth
      tags:
        - integrations
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/integrations/{integration_id}/dead-letters:
    get:
      summary: "GET /api/v1/integrations/{integration_id}/dead-letters"
      operationId: getIntegrationsIntegrationIdDeadletters
      tags:
        - integrations
      parameters:
        - name: integration_id
          in: path
          required: true
          schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/marketplace/installs:
    get:
      summary: "List the calling tenant's marketplace installs."
      operationId: getMarketplaceInstalls
      tags:
        - marketplace
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/marketplace/listings:
    get:
      summary: List partner integration marketplace catalog.
      operationId: getMarketplaceListings
      tags:
        - marketplace
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/mobile/dashboard:
    get:
      summary: Read the mobile-portal dashboard summary.
      operationId: getMobileDashboard
      tags:
        - mobile
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/orchestrator/public-key:
    get:
      summary: "Cloud orchestrator's public key (PEM)."
      operationId: getOrchestratorPublickey
      tags:
        - internal
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/partners/{partner_id}/preview:
    get:
      summary: "GET /api/v1/partners/{partner_id}/preview"
      operationId: getPartnersPartnerIdPreview
      tags:
        - partners
      parameters:
        - name: partner_id
          in: path
          required: true
          schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/platform/maintenance:
    get:
      summary: GET /api/v1/platform/maintenance
      operationId: getPlatformMaintenance
      tags:
        - platform-ops
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/platform/policy-rules:
    get:
      summary: GET /api/v1/platform/policy-rules
      operationId: getPlatformPolicyrules
      tags:
        - platform-ops
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/retest-batches/{batch_id}:
    get:
      summary: "GET /api/v1/retest-batches/{batch_id}"
      operationId: getRetestbatchesBatchId
      tags:
        - retesting
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/retests/{retest_id}/diff:
    get:
      summary: "GET /api/v1/retests/{retest_id}/diff"
      operationId: getRetestsRetestIdDiff
      tags:
        - retesting
      parameters:
        - name: retest_id
          in: path
          required: true
          schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /healthz:
    get:
      summary: GET /healthz
      operationId: getHealthz
      tags:
        - 
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/auth/dev-token:
    post:
      summary: POST /api/v1/auth/dev-token
      operationId: postAuthDevtoken
      tags:
        - auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/auth/logout:
    post:
      summary: POST /api/v1/auth/logout
      operationId: postAuthLogout
      tags:
        - auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/auth/mfa/enroll/confirm:
    post:
      summary: POST /api/v1/auth/mfa/enroll/confirm
      operationId: postAuthMfaEnrollConfirm
      tags:
        - auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/auth/mfa/enroll/start:
    post:
      summary: POST /api/v1/auth/mfa/enroll/start
      operationId: postAuthMfaEnrollStart
      tags:
        - auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/auth/mfa/verify:
    post:
      summary: POST /api/v1/auth/mfa/verify
      operationId: postAuthMfaVerify
      tags:
        - auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/emergency-stops/{stop_id}/ack:
    post:
      summary: "POST /api/v1/emergency-stops/{stop_id}/ack"
      operationId: postEmergencystopsStopIdAck
      tags:
        - emergency-stops
      parameters:
        - name: stop_id
          in: path
          required: true
          schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/feedback:
    post:
      summary: Submit user feedback (bug/feature/NPS).
      operationId: postFeedback
      tags:
        - feedback
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/feedback/dismiss-nps:
    post:
      summary: Hide the NPS prompt for the current session.
      operationId: postFeedbackDismissnps
      tags:
        - feedback
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/mobile/alerts/ack:
    post:
      summary: Acknowledge a push-notification alert.
      operationId: postMobileAlertsAck
      tags:
        - mobile
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/mobile/devices:
    post:
      summary: Enroll a mobile device with a push token.
      operationId: postMobileDevices
      tags:
        - mobile
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
  /api/v1/platform/break-glass/redeem:
    post:
      summary: POST /api/v1/platform/break-glass/redeem
      operationId: postPlatformBreakglassRedeem
      tags:
        - platform-ops
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/Internal"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing or invalid bearer token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Permission denied / cross-tenant
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Internal:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
          required:
            - code
            - message
      required:
        - error
security:
  - bearerAuth: "[]"
